In [1]:
from google.colab import files

uploaded = files.upload()

Saving train (1).csv to train (1).csv
Saving test (1).csv to test (1).csv
Saving gender_submission.csv to gender_submission.csv

In [12]:
import pandas as pd
import numpy as np

In [4]:
# Train data contains more columns, including the "Survived" column
train_data = pd.read_csv("train (1).csv")
print(train_data.columns)
train_data.head()
train_data.tail()

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [5]:
test_data = pd.read_csv("test (1).csv")
print(test_data.columns)
test_data.head()

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

# **Write a code for counting survival of men versus women and compared the accuracy with the code below**

In [23]:
KKK=train_data['Sex']
k=[]
count = 0
for j in range(len(KKK)):
    if KKK[j]=='male':
       count += 1

     
k.append(count)

k1=[]
count = 0
for j in range(len(KKK)):
    if KKK[j]=='female':
       count += 1

     
k1.append(count)
K=np.add(k1,k)
print('number of men on the list',k)
print('number of women on the list',k1)
print('Total number of people on the list', K)
print('ratio of men to total people on the list',np.divide(k,K))

number of men on the list [577]
number of women on the list [314]
Total number of people on the list [891]
ratio of men to total people on the list [0.64758698]

# **Caculating survival rate of men and women **

In [28]:
KKK=train_data['Sex']
K4=train_data['Survived']
SM=[]
count = 0
for j in range(len(KKK)):
    if KKK[j]=='male' and K4[j]==1:
       count += 1

     
SM.append(count)

print('ratio of men that survided',np.divide(SM,k))

ratio of men that survided [0.18890815]

In [29]:
KKK=train_data['Sex']
K4=train_data['Survived']
SM=[]
count = 0
for j in range(len(KKK)):
    if KKK[j]=='female' and K4[j]==1:
       count += 1

     
SM.append(count)

print('ratio of female that survided',np.divide(SM,k1))

ratio of female that survided [0.74203822]

In [6]:
# Does the gender completely determine the survival? 
# (i.e. being a female ensures survival, being male means certain death)
women = train_data.loc[train_data.Sex == 'female']["Survived"]
rate_women = sum(women)/len(women)
print("% of women who survived:", rate_women)

men = train_data.loc[train_data.Sex == 'male']["Survived"]
rate_men = sum(men)/len(men)
print("% of men who survived:", rate_men)

% of women who survived: 0.7420382165605095
% of men who survived: 0.18890814558058924

In [30]:
women = train_data.loc[train_data.Sex == 'female']
women.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [31]:
# Test data contains 418 lines
test_data.describe()     # only displays numerical value

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

## Random forest model: a machine learning (ML) model

This model is constructed of several "trees" (there are three trees in the picture below, but we'll construct 100!) that will individually consider each passenger's data and vote on whether the individual survived. Then, the random forest model makes a democratic decision: the outcome with the most votes wins!

![](https://i.imgur.com/AC9Bq63.png)

The code cell below looks for patterns in four different columns (**"Pclass"**, **"Sex"**, **"SibSp"**, and **"Parch"**) of the data.  It constructs the trees in the random forest model based on patterns in the **train.csv** file, before generating predictions for the passengers in **test.csv**.  The code also saves these new predictions in a CSV file **submission.csv**.

# **Here we drop name and ticket column as they don't seem to be helping with determination of survival of passengers**

In [ ]:
train_data.drop("Name", axis=1, inplace=True)
train_data.drop("Ticket", axis=1, inplace=True)
train_data.drop("Cabin", axis=1, inplace=True)

In [40]:
train_data.drop("TitleNum", axis=1, inplace=True)
train_data.drop("Title", axis=1, inplace=True)

In [47]:
train_data.drop("PassengerId", axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

# **Dropping missing values**

In [43]:
train_data=train_data.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

In [48]:
train_data

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    male  22.0      1      0   7.2500        S
1           1       1  female  38.0      1      0  71.2833        C
2           1       3  female  26.0      0      0   7.9250        S
3           1       1  female  35.0      1      0  53.1000        S
4           0       3    male  35.0      0      0   8.0500        S
..        ...     ...     ...   ...    ...    ...      ...      ...
885         0       3  female  39.0      0      5  29.1250        Q
886         0       2    male  27.0      0      0  13.0000        S
887         1       1  female  19.0      0      0  30.0000        S
889         1       1    male  26.0      0      0  30.0000        C
890         0       3    male  32.0      0      0   7.7500        Q

[712 rows x 8 columns]

# **Checking whether there is any missing values in the data**

In [46]:
train_data.isnull().values.any()

False


# **New Section, Trying to use a classifier here to train a model on the data**

In [49]:
s=train_data["Sex"]
s = s.map({'male':1, 'female':0})
train_data['SEX'] = s

# **Now we drop the original categorial Sex column**

In [55]:
train_data.drop("Sex", axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [56]:
train_data

     Survived  Pclass   Age  SibSp  Parch     Fare Embarked  SEX
0           0       3  22.0      1      0   7.2500        S    1
1           1       1  38.0      1      0  71.2833        C    0
2           1       3  26.0      0      0   7.9250        S    0
3           1       1  35.0      1      0  53.1000        S    0
4           0       3  35.0      0      0   8.0500        S    1
..        ...     ...   ...    ...    ...      ...      ...  ...
885         0       3  39.0      0      5  29.1250        Q    0
886         0       2  27.0      0      0  13.0000        S    1
887         1       1  19.0      0      0  30.0000        S    0
889         1       1  26.0      0      0  30.0000        C    1
890         0       3  32.0      0      0   7.7500        Q    1

[712 rows x 8 columns]

In [57]:
X = train_data[["Pclass", "SEX", "Age", "SibSp", "Parch", "Fare"]]
y = train_data["Survived"]
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [62]:
from sklearn.tree import DecisionTreeClassifier

# Instantiate a DecisionTreeClassifier 'dt' with a maximum depth of 6
dt = DecisionTreeClassifier(max_depth=6, random_state=1)

# Fit dt to the training set
dt.fit(X_train, y_train)

# Predict test set labels
y_pred = dt.predict(X_test)
print(y_pred[0:5])

[1 0 0 1 1]

# **81% accuracy**

In [59]:
from sklearn.metrics import accuracy_score

# Predict test set labels
y_pred = dt.predict(X_test)

# Compute test set accuracy
acc = accuracy_score(y_test, y_pred)
print("Test set accuracy: {:.2f}".format(acc))

Test set accuracy: 0.81

# **Now we test it with other classifiers to see which one is the best**

In [61]:
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import make_moons, make_circles, make_classification
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis

names = [
    "Nearest Neighbors",
    "Linear SVM",
    "RBF SVM",
    "Gaussian Process",
    "Decision Tree",
    "Random Forest",
    "Neural Net",
    "AdaBoost",
    "Naive Bayes",
    "QDA",
]

classifiers = [
    KNeighborsClassifier(3),
    SVC(kernel="linear", C=0.025),
    SVC(gamma=2, C=1),
    GaussianProcessClassifier(1.0 * RBF(1.0)),
    DecisionTreeClassifier(max_depth=6, random_state=1),
    RandomForestClassifier(max_depth=5, n_estimators=10, max_features=1),
    MLPClassifier(alpha=1, max_iter=1000),
    AdaBoostClassifier(),
    GaussianNB(),
    QuadraticDiscriminantAnalysis(),
]
k=[]
for i in range(len(classifiers)):
    # Predict test set labels
    classifiers[i].fit(X_train, y_train)

    y_pred = classifiers[i].predict(X_test)

    # Compute test set accuracy
    acc = accuracy_score(y_test, y_pred)
    k.append(acc)
    print("Test set accuracy: {:.2f}".format(acc))

Test set accuracy: 0.63
Test set accuracy: 0.76
Test set accuracy: 0.66

/usr/local/lib/python3.7/dist-packages/sklearn/gaussian_process/kernels.py:437: ConvergenceWarning: The optimal value found for dimension 0 of parameter k1__constant_value is close to the specified upper bound 100000.0. Increasing the bound and calling fit again may find a better value.
  ConvergenceWarning,

Test set accuracy: 0.77
Test set accuracy: 0.81
Test set accuracy: 0.76
Test set accuracy: 0.77
Test set accuracy: 0.77
Test set accuracy: 0.76
Test set accuracy: 0.76

# **The best classifier is the decison tree classifier**

In [63]:
from google.colab import files

uploaded = files.upload()

Saving test (1).csv to test (1) (1).csv

In [69]:
test_data = pd.read_csv("test (1).csv")
print(test_data.columns)
test_data.head()
test_data.tail()

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [70]:
test_data=test_data.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

In [71]:
s=test_data["Sex"]
s = s.map({'male':1, 'female':0})
test_data['SEX'] = s

In [72]:
X = test_data[["Pclass", "SEX", "Age", "SibSp", "Parch", "Fare"]]

from sklearn.model_selection import train_test_split

y_pred = dt.predict(X)

In [73]:
y_pred

array([1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1])

In [74]:

#-------------------
# Submission!
#-------------------

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': y_pred})
output.head()

output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

In [75]:
from google.colab import files

uploaded = files.download('submission.csv')