In [ ]:
from google.colab import files

uploaded = files.upload()

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Train data contains more columns, including the "Survived" column
train_data = pd.read_csv("train (2).csv")
print(train_data.columns)
train_data.head()
train_data.tail()

In [ ]:
test_data = pd.read_csv("test (2).csv")
print(test_data.columns)
test_data.head()

# **Dropping missing values**

In [ ]:
train_data=train_data.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

In [ ]:
train_data

# **Checking whether there is any missing values in the data**

In [ ]:
train_data.isnull().values.any()


# **New Section, Trying to use a classifier here to train a model on the data**

In [ ]:
cleanup_nums = {"HomePlanet":     {"Earth": 1, "Europa": 2,"Mars": 3} 
               }
train_data = train_data.replace(cleanup_nums)
train_data.head()

# **Turning boolean columns to integer (0,1)**

In [ ]:
train_data["Transported"] = train_data["Transported"].astype(int)
train_data["CryoSleep"] = train_data["CryoSleep"].astype(int)
train_data["VIP"] = train_data["VIP"].astype(int)

In [ ]:
X = train_data[["HomePlanet","CryoSleep","Age","VIP","RoomService",	"FoodCourt",	"ShoppingMall",	"Spa",	"VRDeck"]]
y = train_data["Transported"]
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [ ]:
from sklearn.tree import DecisionTreeClassifier

# Instantiate a DecisionTreeClassifier 'dt' with a maximum depth of 6
dt = DecisionTreeClassifier(max_depth=6, random_state=1)

# Fit dt to the training set
dt.fit(X_train, y_train)

# Predict test set labels
y_pred = dt.predict(X_test)
print(y_pred[0:5])

# **78% accuracy**

In [ ]:
from sklearn.metrics import accuracy_score

# Predict test set labels
y_pred = dt.predict(X_test)

# Compute test set accuracy
acc = accuracy_score(y_test, y_pred)
print("Test set accuracy: {:.2f}".format(acc))

# **Now we test it with other classifiers to see which one is the best**

# **The best classifier is the decison tree classifier**

In [114]:
test_data = pd.read_csv("test (2).csv")
print(test_data.columns)
test_data.head()
test_data.tail()

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name'],
      dtype='object')

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley

In [115]:
test_data=test_data.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

In [117]:
cleanup_nums = {"HomePlanet":     {"Earth": 1, "Europa": 2,"Mars": 3} 
               }
test_data = test_data.replace(cleanup_nums)
test_data.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,1,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,1,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,2,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,2,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,1,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [119]:
test_data["CryoSleep"] = test_data["CryoSleep"].astype(int)
test_data["VIP"] = test_data["VIP"].astype(int)

In [120]:
X = test_data[["HomePlanet","CryoSleep","Age","VIP","RoomService",	"FoodCourt",	"ShoppingMall",	"Spa",	"VRDeck"]]

from sklearn.model_selection import train_test_split

y_pred = dt.predict(X)

In [124]:
y_pred = y_pred.astype('bool')

In [125]:
y_pred

array([ True, False,  True, ...,  True,  True, False])

In [126]:

#-------------------
# Submission!
#-------------------

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Transported': y_pred})
output.head()

output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

In [127]:
from google.colab import files

uploaded = files.download('submission.csv')